{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!{% endblock %}

{% block body %}
<div class="container-fluid">
  <h2 class="text-center m-5">contact</h2>
  <div class="container my-4">
    <div class="row">
      <div class="col-sm-12 col-md-6 infoContact ">
        <div class="backgroundComment border border-light bg bg-light p-5">
          <h4>Nom : <strong> {{ contact.lastName }}</strong></h4>
          <h4>Prénom :  <strong> {{ contact.firstName }} </strong></h4>
          <h4>Email : <strong> {{ contact.email }}</strong> </h4>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 backgroundComment border border-light bg bg-light p-5">
        <div class="backgroundComment border border-light bg bg-light">
          <h4 class= "text-success"><strong>Demande répondue : </strong> {{ requestCompleted }}</h3>
          <h4 class="text-danger"><strong>Demande a faire : </strong> {{ requestToMake }}</h3>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <form method="post">
      <div class="form-check">
      {% for item in requestAll %}
      <div class="row ">
        <div class="col-12 backgroundComment border border-light bg bg-light px-5 py-3 my-2">
          <input class="form-check-input" type="checkbox" value="lolo" id="request">
          <label class="form-check-label text-dark" for="request">
            {{ item.contentText }}
          </label>
        </div>
      </div>
      {% endfor %}
      </div>
      <a type="submit" href = "{{ path('validation_request', {'id': contact.id })}}" class="btn btn-primary mt-5">valider</a>
    </form>
  </div>
</div>


{# <form method="POST">
    {{ form_widget(form) }}
    <button type="submit">Soumettre</button>
</form> #}


{% endblock %}
