{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!{% endblock %}

{% block body %}
<div class="container-fluid">
  <h2 class="text-center m-5">contact</h2>
  <h3>Nom : {{ contact.lastName}}</h3>
  <h3>Prénom : {{ contact.firstName}}</h3>
  <h3>Email : {{ contact.email}}</h3>
  {# <h3>Nombre de demande répondue : {{ requestCompleted }}</h3>
  <h3>Nombre de demande a faire : {{ requestCompleted }}</h3> #}

  <div class="container">
    <form action="">
      <div class="form-check">
      {% for item in requestsContent %}
        <input class="form-check-input" type="checkbox" value="" id="request">
        <label class="form-check-label text-dark" for="request">
          {{ item }}
        </label>
      {% endfor %}
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>

{% endblock %}
